@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');

.container-footer {
    position: fixed;
    bottom: 0;
    /* ชิดขอบล่างสุด */
    left: 0;
    /* ชิดซ้ายสุด เพื่อให้กางเต็มหน้าจอ */

    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-family: 'Kanit', sans-serif;
}

.btn-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: white;
    border: none;
    font-size: 12px;
    color: #666666;
}
.btn-menu.active {
    color: #ff5722;
}

.icon {
    width: 20px;
    height: 20px;
}