@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');
.container {
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.Tier {
    padding: 10px;
    font-size: 12px;
    color: #666666;
}
.red{
    color: hsl(0 80% 44%);
}